/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
Supprimerait .idea/vcs.xml
Supprimerait app/bootstrap.php.cache
Supprimerait var/
/app/bootstrap.php.cache
Supprimerait .idea/dataSources.ids
Supprimerait .idea/dataSources.local.xml
Supprimerait src/Barathon/barBundle/Entity/Bar.php~
Supprimerait src/Barathon/eventBundle/Entity/Event.php~
/.idea/dataSources.xml
/.idea/dataSources.local.xml
/web/uploads/
