{% extends 'Utilisateurs/utilisateursLayout.html.twig' %}
{% block page %}
    <h1>Création d'un Bar</h1>
    <form name="barathon_barbundle_bar" method="post" enctype="multipart/form-data">
        <div id="barathon_barbundle_bar">
            <div>
                <label for="barathon_barbundle_bar_name" class="required">Nom</label>
                <input type="text" id="barathon_barbundle_bar_name" name="barathon_barbundle_bar[name]" required="required" />
            </div>
            <div>
                <label for="barathon_barbundle_bar_ville" class="required">Ville</label>
                <input type="text" id="barathon_barbundle_bar_ville" name="barathon_barbundle_bar[ville]" required="required" />
            </div>
            <div>
                <label for="barathon_barbundle_bar_user_id">Propriétaire </label>
                {{ form_widget(form.user_id) }}
            </div>
            <div>
                <label for="barathon_barbundle_bar_category">Catégories</label>
                {{ form_widget(form.category) }}
            </div>
            <div>
                <label for="barathon_barbundle_bar_description" class="required">Déscription</label>
                <textarea id="barathon_barbundle_bar_description" name="barathon_barbundle_bar[description]" required="required"></textarea>
            </div>
            <div>
                <label >Photo</label>
                {{ form_widget(form.file) }}
            </div>
            {{ form_row(form._token) }}
        </div>
        <input type="submit" value="Create" />
    </form>
{% endblock %}

